$default-font: "Gilroy-Light", "Arial", sans-serif;
$font-bold: "Gilroy-ExtraBold", "Arial", sans-serif;
$text: #584655;
$background-normal: #f4b46a;
$background-hover: #ff7f39;
$light: #ffffff;

$tablet-width: 768px;
$desktop-width: 1920px;
